
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #fff;
  --color-foreground: #0D1821;

  --color-card-background: #EAEAEA;

  --color-text: #fff;
  --color-text-muted: #B5B5B5;
  --color-muted: #7C7C7C;

  --color-button: #7A191A;

  --font-title: "Cormorant Garamond", serif;

}

@layer base{
  html{
    scroll-behavior: smooth;
  }

  body{
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font) ;
  }
}