@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

@theme {
  --color-background: #fff;
  --color-foreground: #0D1821;

  --color-muted: #7C7C7C;

  --color-button: #7A191A;

  --font: "Cormorant Garamond", serif;
}

@layer base{
  html{
    scroll-behavior: smooth;
  }

  body{
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font) ;
  }
}